#================================================
# .gitignore
#================================================
/dev/linux/
/dev/xenomai/
/dev/ptxdist/
#================================================
