#================================================
# .gitignore
#================================================
/dev/linux/
/dev/xenomai/
/dev/ptxdist/
/test/**/build/
/test/**/bin/
/**/*.bak
#================================================
